:host {
  display: block;
  width: 100%;
}

h2 {
  color: white;
}

#loading,
#more {
  box-sizing: border-box;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 200%;
  color: white;
  clear: both;
  text-decoration: none;
  padding: 20px;
}

#more:hover {
  background-color: #666;
}
